/* Write your CSS here */
.list-item-transaction {
  display: flex;
  flex-direction: row;
}
.each-one-item {
  margin-right: 15px;
}
.line-horizontal {
  padding-left: 0px;
  padding-right: 0px;
}
.delete-button{
  width: 40px;
}
